<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <object th:include="fragments/fragment :: css" th:remove="tag"></object>
  <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body class="bg-primary">

<div class="align-items-center pt-3" style="padding-left: 15%;padding-right: 15%;padding-right: 10%">
  <div class="card m-4 p-4">
    <div class="card-body">
      <div class="justify-content-center" >
        <h1 class="font-weight-bold text-primary" style="text-align: center">SIRETAIL</h1>
        <hr>
        <div th:if="${param.error}" style="text-align: center">
          <span style="color: red">Username atau password salah </span>
        </div>
        <div th:unless="${param.error}" style="text-align: center">
          <span class="text-primary">Yuk Coba Login &#128513;</span>
        </div>
        <div class="card-body align-content-center align-items-center"  style="align-content: center">
          <form th:action="@{/login}" method="POST" >
            <div class="row form-group">
              <label class="col-sm-4">Username:</label>
              <input type="text" class="col-sm-8 form-control input-sm" name="username">
            </div>
            <div class="row form-group">
              <label class="col-sm-4">Password:</label>
              <input type="password" class="col-sm-8 form-control input-sm" name="password">

            </div>
            <div class="row form-group">
              <label class="col-sm-4"></label>
              <button type="submit" class="btn btn-primary col-sm-8 form-control" >Sign In</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
